.App {
  text-align: center;
}

.ui.container.welcome-container {
  width: 50%;
  margin-top: 10%;
}

.ui.container.sign-in-container {
  text-align: center;
  width: 50%;
  margin-top: 10%;
}

.ui.container.portfolio {
  margin-top: 10%;
  width: 65%;
}

.ui.container.transactions {
  margin-top: 10%;
  width: 65%;
}

.buy-btn {
  width: 100%
}

#nav-link {
  cursor: pointer;
}